body {
    background-color: #ffffe8 ;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #309BDD;
}


.screen {
}

#header {
    height: 40px;
    z-index: 999;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 4.5em;
    font-family: 'Oxygen', sans-serif;
    color: #FF5678;
}

.title {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: #FF5678;
}

.contenttitle {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    color: #FF5678; 
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 60px;
    font-size: 1.75em;
    font-weight: 300;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    color: #FF5678;
    padding-bottom: 20px;
}

.screen {
    z-index: -1;
}
#content4{
    text-align: center;
    color: #309BDD;
}

#content0{
    text-align: center;
}

#screen0{
    font-weight: 400;
    font-size:1.5em;
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 50px;
}

.about{
    color:#6C71C4;
}

.experience{
    color:#309BDD;
}

.projects{
    color:#18DEA9;
}

#screen2{
    
}
