body {
	background: #FFFFF8
    
}

a {
    text-decoration: none;   
}


.screen {
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 2em;
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #ff5678
}

.title {
    padding-top: 80px;
    line-height: 300%;
    font-size: 5em;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
    color: #ff5678;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    line-height: 200%;
    font-size: 2em;
    font-weight: 200;
    font-family: sans-serif;
    text-align: left;
    color: #000000;
}

.subtitle {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 200%;
    font-size: 2em;
    font-weight: 500;
    font-family: sans-serif;
    text-align: left;
    color: #309bdd; 
}

.screen{
    z-index: -1;
}
#screen1{


}

#screen2{
    
}
