body {
	background: #FFFFFC;
    
}

a {
    text-decoration: none;
    color: #309BDD;
}


.screen {
}

#header {
    height: 40px;
    z-index: 999;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 4em;
    font-family: 'Oxygen', sans-serif;
    color: #FF5678;
}

.title {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: #FF5678;
}

.contenttitle {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    color: #309BDD; 
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 60px;
    font-size: 1.75em;
    font-weight: 300;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    color: #000000;
}

.screen {
    z-index: -1;
}
#content5{
    text-align: center;
    color: #309BDD;
}

#screen1{


}

#screen2{
    
}
